.news-feed {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-block-start: 60px;
  }
  .loading-text {
    align-items: center;
    color: #888;
    font-size: 1rem;
  }
  